.claim-vouchers-section {
  display: flex;
  flex-direction: column;
}

.claim-vouchers-title {
  text-align: center;
  color: #3d0b37;
  font-weight: bold;
  font-size: 32px;
}

.available-vouchers-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.scroll-left-button-container,
.scroll-right-button-container {
  color: #3d0b37;
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll-left-button-container:hover,
.scroll-right-button-container:hover {
  transform: scale(1.25);
  color: #8cc63f;
}

.scroll-left-button-container:disabled,
.scroll-left-button-container:disabled * {
  opacity: 0.3;
  cursor: not-allowed !important;
}

.scroll-right-button-container:disabled,
.scroll-right-button-container:disabled * {
  opacity: 0.3;
  cursor: not-allowed !important;
}

.available-vouchers-section {
  display: flex;
  overflow-x: auto;
  gap: 24px;
  padding: 32px 8px;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  /* Firefox hide scrollbar */
  -ms-overflow-style: none;
  /* IE hide scrollbar */
  flex-grow: 1;
}

.available-vouchers-section::-webkit-scrollbar {
  display: none;
}

.voucher {
  flex-shrink: 0;
  width: 320px;
  background: #ffffff;
  border-radius: 24px;
  padding: 30px;
  border: 1px solid #f8f8f8;
  scroll-snap-align: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
}

.voucher-image-container {
  height: 200px;
  border-radius: 24px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  overflow: hidden;
}

.voucher-image {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 24px;
}

.voucher:hover {
  transform: scale(1.04);
  box-shadow: 0 4px 20px #b6b6b6cc;
}

.voucher-description {
  padding: 10px 0px;
  height: 180px;
}

.voucher-location {
  display: flex;
  align-items: center;
  gap: 8px;
}

.voucher-value-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.redemption-points {
  font-size: 150%;
  color: #3d0b37;
  font-weight: bold;
  padding-bottom: 5px;
}

.voucher-sponsor,
.voucher-value {
  font-weight: bold;
  margin-bottom: 5px;
}

.claim-now-button {
  color: #ffffff;
  font-weight: bold;
  background-color: #a266c7;
  border-radius: 10px;
  width: 100%;
  padding: 10px 0px;
  transition: all 0.2s ease;
  border: none;
  cursor: pointer;
}

.claim-now-button:hover:not(:disabled) {
  background-color: #8cc63f;
}

.claim-now-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}