.header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to bottom, #d4d4d4 0%, #ffffff 50%);
}

.logo {
  width: 250px;
  height: 70px;
  display: flex;
  justify-content: center;
}

.logo img {
  width: 200px;
  height: 100%;
}

.nav-bar {
  width: 800px;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 0px 20px;
  height: 100%;
  font-size: 16px;
  text-decoration-line: none;
  color: #64027e;
  transition: all 0.2s ease;
}

.nav-link.active {
  font-weight: 600;
  text-shadow: 2px 2px 3px #bebebe;
  background: linear-gradient(to top, #CAADED 0%, transparent 10%);
}

.login {
  width: 225px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-button {
  width: 180px;
  height: 40px;
  border-radius: 10px;
  border: 2px solid transparent;
  background-color: #dda15e;
  font-size: 14px;
  transition:
    background-color 0.3s ease,
    transform 0.15s ease,
    box-shadow 0.3s ease,
    border-color 0.3s ease;
}

.login-button:hover {
  border-color: #dda15e;
  background-color: #ffffff;
  box-shadow: 2px 1px #bebebe;
  cursor: pointer;
}

.login-button:active {
  transform: translate(2px, 2px);
  box-shadow: 0px 0px #bebebe;
}