/* src/index.css */

* {
  box-sizing: border-box;
}

html, body, #root {
  margin: 0;
  padding: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-padding-top: 100px;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

::selection {
  background-color: #dda15e;
}